<?xml version="1.0" encoding="utf-8"?>
<Cyanometer.Manager.Properties.Settings>
  <setting name="Country" serializeAs="String">
    <value />
  </setting>
  <setting name="City" serializeAs="String">
    <value />
  </setting>
  <setting name="Location" serializeAs="String">
    <value />
  </setting>
  <setting name="LocationId" serializeAs="String">
    <value>0</value>
  </setting>
  <setting name="ExceptionlessEnabled" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="ExceptionlessServer" serializeAs="String">
    <value />
  </setting>
  <setting name="ExceptionlessApiKey" serializeAs="String">
    <value />
  </setting>
  <setting name="ProcessImages" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="ProcessAirQuality" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="SleepMinutes" serializeAs="String">
    <value>0</value>
  </setting>
  <setting name="CycleWaitMinutes" serializeAs="String">
    <value>0</value>
  </setting>
  <setting name="StopCheckUrl" serializeAs="String">
    <value />
  </setting>
  <setting name="InitialDelay" serializeAs="String">
    <value>20</value>
  </setting>
  <setting name="AirQualitySource" serializeAs="String">
    <value>Arso</value>
  </setting>
  <setting name="TwitterConsumerKey" serializeAs="String">
    <value />
  </setting>
  <setting name="TwitterConsumerSecret" serializeAs="String">
    <value />
  </setting>
  <setting name="TwitterAccessToken" serializeAs="String">
    <value />
  </setting>
  <setting name="TwitterAccessTokenSecret" serializeAs="String">
    <value />
  </setting>
  <setting name="AirQualityLocationKey" serializeAs="String">
    <value />
  </setting>
  <setting name="AirQualityUsername" serializeAs="String">
    <value />
  </setting>
  <setting name="AirQualityPassword" serializeAs="String">
    <value />
  </setting>
  <setting name="IsTwitterEnabled" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="UseFakeRaspberry" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="UseFakeS3Uploader" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="AirQualityUploadEnabled" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="AirQualityLightsEnabled" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="InstanceName" serializeAs="String">
    <value>Testing</value>
  </setting>
  <setting name="CyanoNotificationsUrl" serializeAs="String">
    <value />
  </setting>
  <setting name="SyncWithNntp" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="SendHeartbeat" serializeAs="String">
    <value>False</value>
  </setting>
  <setting name="HeartbeatAddress" serializeAs="String">
    <value />
  </setting>
  <setting name="HasWittyPi" serializeAs="String">
    <value>True</value>
  </setting>
  <setting name="CyanoToken" serializeAs="String">
    <value />
  </setting>
</Cyanometer.Manager.Properties.Settings>