<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
  throwExceptions="false" >
  <variable name="LogDay" value="${date:format=dd}"/>
  <variable name="LogDir" value="log"/>
  <targets>
    <target name="logfile" xsi:type="File" fileName="${basedir}/${LogDir}/log.${LogDay}.txt" layout="${longdate} ${message} ${exception:format=tostring}"
            maxArchiveFiles="10" archiveNumbering="Sequence" archiveAboveSize="1048576" archiveFileName="${LogDir}/{#######}.a"/>
    <target name="debugger" xsi:type="Debugger" layout="${logger}:${message} ${exception:format=tostring}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${logger}:${message} ${exception:format=tostring}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Trace" writeTo="console" />
  </rules>
</nlog>